<mat-tab-group mat-stretch-tabs backgroundColor="primary" dynamicHeight color="primary" class="mat-elevation-z4" [(selectedIndex)]="selectedIndex">

  <mat-tab label="Pre Receiving">
    <ng-template matTabContent>
      <app-pre-receiving></app-pre-receiving>
    </ng-template>
  </mat-tab>

  <mat-tab label="Receiving">
    <ng-template matTabContent>
      <app-receiving-form [tmaster]="master"></app-receiving-form>
    </ng-template>
  </mat-tab>

  <mat-tab label="Association">
    <ng-template matTabContent>
      <app-map-sample (alertLink)="linkMe($event)"></app-map-sample>
    </ng-template>
  </mat-tab>

  <mat-tab label="Validation">
    <ng-template matTabContent>
      <app-validity-list></app-validity-list>
    </ng-template>
  </mat-tab>


</mat-tab-group>
