<br>
<mat-card style="width: 80%;margin-left: 10%;">
  <mat-card-header>
    <mat-card-title>Segregation</mat-card-title>
    <mat-card-subtitle>Test Group</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <br>
  <mat-card-content align="center">
    <!-- <mat-button-toggle-group #testGroup="matButtonToggleGroup" name="fontStyle" aria-label="Font Style">
      <mat-button-toggle value="IF" >IF</mat-button-toggle>
      <mat-button-toggle value="BLOT">BLOT</mat-button-toggle>
      <mat-button-toggle value="OTHER">OTHER</mat-button-toggle>
    </mat-button-toggle-group> -->
    <!-- <a  routerLink="/listgeneration" [queryParams]="{ testCategory : IF }" [state]="{ data: {category:'IF'}}" routerLinkActive="active" ><button mat-raised-button>IF</button></a> -->
    <a  routerLink="/listgeneration" [queryParams]="{ testCategory : 'IF' }"  routerLinkActive="active" ><button mat-raised-button>IF</button></a>
    <a  routerLink="/listgeneration" [queryParams]="{ testCategory : 'BLOT' }"  routerLinkActive="active" ><button mat-raised-button>BLOT</button></a>
    <a  routerLink="/listgeneration" [queryParams]="{ testCategory : 'OTHER' }"  routerLinkActive="active" ><button mat-raised-button>OTHER</button></a>
  </mat-card-content>
  <mat-divider></mat-divider>
</mat-card>
