<br>
<mat-card style="width: 80%;margin-left: 10%;">
  <mat-card-header>
    <mat-card-title>Segregation</mat-card-title>
    <mat-card-subtitle>List generation</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <br>
  <mat-card-content align="center">
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle value="IF" >IF</mat-button-toggle>
      <mat-button-toggle value="BLOT">BLOT</mat-button-toggle>
      <mat-button-toggle value="OTHER">OTHER</mat-button-toggle>
    </mat-button-toggle-group>

  </mat-card-content>
  <mat-card-actions >
    <button mat-raised-button color="primary">ADD SAMPLE</button>
  </mat-card-actions>
  <mat-divider></mat-divider>
</mat-card>
