<mat-card>
  <mat-card-header>
    <mat-card-title>Validation List</mat-card-title>
    <mat-card-subtitle>Valid/Invalid/Partially Valid</mat-card-subtitle>
  </mat-card-header>
    <mat-divider></mat-divider>
    <br>
  <mat-card-content>
    <mat-form-field >
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Ex. abc">
    </mat-form-field>
    <div class="mat-elevation-z8">
      <table mat-table #table matSort [dataSource]="validityLists" width="100%">
        
          <ng-container  matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>No</th>
            <td mat-cell *matCellDef="let validityList;let i=index">{{i+1}}</td>
          </ng-container>
          <ng-container  matColumnDef="sample.master.patientDemographicDetail.uhid">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>UHID</th>
              <td mat-cell *matCellDef="let validityList">{{validityList.sample.master.patientDemographicDetail.uhid}}</td>
          </ng-container>
          <ng-container  matColumnDef="sample.master.ulid">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>ULID</th>
              <td mat-cell *matCellDef="let validityList">{{validityList.sample.master.ulid}}</td>
          </ng-container>
          <ng-container  matColumnDef="sample.sampleId">
              <th mat-header-cell *matHeaderCellDef mat-sort-header >SAMPLEID</th>
              <td mat-cell *matCellDef="let validityList">{{validityList.sample.sampleId}}</td>
          </ng-container>
          <ng-container  matColumnDef="sample.master.patientDemographicDetail.name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header >NAME</th>
              <td mat-cell *matCellDef="let validityList">{{validityList.sample.master.patientDemographicDetail.name}}</td>
          </ng-container>
          <ng-container  matColumnDef="sample.master.patientDemographicDetail.age">
              <th mat-header-cell *matHeaderCellDef mat-sort-header >AGE</th>
              <td mat-cell *matCellDef="let validityList">{{validityList.sample.master.patientDemographicDetail.age}}</td>
          </ng-container>
          <ng-container  matColumnDef="sample.master.patientDemographicDetail.sex">
              <th mat-header-cell *matHeaderCellDef mat-sort-header >SEX</th>
              <td mat-cell *matCellDef="let validityList">{{validityList.sample.master.patientDemographicDetail.sex}}</td>
          </ng-container>
          <ng-container  matColumnDef="sample.master.isValid">
              <th mat-header-cell *matHeaderCellDef mat-sort-header >ISVALID</th>
              <td mat-cell *matCellDef="let validityList">{{validityList.sample.master.isValid == 'Y' ? 'Yes' : (validityList.sample.master.isValid == 'N' ? 'No' : 'Partially')}}</td>
          </ng-container>
          <ng-container  matColumnDef="sample.master.remark">
              <th mat-header-cell *matHeaderCellDef mat-sort-header >REMARK</th>
              <td mat-cell *matCellDef="let validityList">{{validityList.sample.master.remark}}</td>
          </ng-container>
          <ng-container matColumnDef="Test">
              <th mat-header-cell *matHeaderCellDef >TEST</th>
              <td mat-cell *matCellDef="let validityList">
                  <div *ngIf="validityList.sample.master.ana == 'REPORTED' || validityList.sample.master.ana == 'SEPARATED' ">ANA : Y</div>
                  <div *ngIf="validityList.sample.master.ana == 'INVALID'">ANA : N</div>
                  <div *ngIf="validityList.sample.master.anca == 'REPORTED' || validityList.sample.master.anca == 'SEPARATED' ">ANCA : Y</div>
                  <div *ngIf="validityList.sample.master.anca == 'INVALID' ">ANCA : N</div>
                  <div *ngIf="validityList.sample.master.mog == 'REPORTED' || validityList.sample.master.mog == 'SEPARATED' ">MOG : Y</div>
                  <div *ngIf="validityList.sample.master.mog == 'INVALID' ">MOG : N</div>
                  <div *ngIf="validityList.sample.master.nmda == 'REPORTED' || validityList.sample.master.nmda == 'SEPARATED' ">NMDA : Y</div>
                  <div *ngIf="validityList.sample.master.nmda == 'INVALID' ">NMDA : N</div>
                  <div *ngIf="validityList.sample.master.pana == 'REPORTED' || validityList.sample.master.pana == 'SEPARATED' ">PANA : Y</div>
                  <div *ngIf="validityList.sample.master.pana == 'INVALID' ">PANA : N</div>
                  <div *ngIf="validityList.sample.master.myu == 'REPORTED' || validityList.sample.master.myu == 'SEPARATED' ">MYU : Y</div>
                  <div *ngIf="validityList.sample.master.myu == 'INVALID' ">MYU : N</div>
                  <div *ngIf="validityList.sample.master.gangigg == 'REPORTED' || validityList.sample.master.gangigg == 'SEPARATED' ">GANGIGG : Y</div>
                  <div *ngIf="validityList.sample.master.gangigg == 'INVALID' ">GANGIGG : N</div>
                  <div *ngIf="validityList.sample.master.gangigm == 'REPORTED' || validityList.sample.master.gangigm == 'SEPARATED' ">GANGIGM : Y</div>
                  <div *ngIf="validityList.sample.master.gangigm == 'INVALID' ">GANGIGM : N</div>
              </td>
          </ng-container>

          <ng-container matColumnDef="Validate">
              <th mat-header-cell *matHeaderCellDef>VALIDATE</th>
              <td mat-cell *matCellDef="let validityList">
                  <button mat-stroked-button color="primary" (click)="alertRemove(validityList)">Validate</button>
              </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsToDisplay;sticky:true"></tr>
          <tr mat-row *matRowDef="let validityList; columns: columnsToDisplay;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>