.single {
  width: 100%;
}
.example-card {
  max-width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.active-serum-bg{
    background-color: darkgreen;
}

.active-csf-bg{
    background-color: darkturquoise;
}