.single {
  width: 100%;
}
.example-card {
  max-width: 90%;
  margin-left: 10%;
  margin-right: 10%;
}

.active-serum-bg{
    background-color: lightcoral;
}

.active-csf-bg{
    background-color: mediumaquamarine;
}
