<br>
<mat-card>
  <mat-card-header>
    <mat-card-title>Separation Station</mat-card-title>
    <mat-card-subtitle>Separate samples</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <br>
  <mat-card-content>
    <div align="center">
      <mat-form-field align="center" class="single" appearance="outline">
        <mat-label>Sample Id</mat-label>
        <input #sId matInput placeholder="Enter Sample Id" type="text" >
      </mat-form-field>
      <tr>
        <button mat-raised-button color="primary" #separateSampleButton (click)="submitSampleId(sId.value);">Separate sample</button>
      </tr>
      <br>
      <mat-error *ngIf="master?.status=='REPORTED'">All tests raised with this sample have been REPORTED</mat-error>
      <mat-error *ngIf="master?.status=='NOT_RECEIVED'">This sample is in NOT RECEIVED status. Kindly do the receiving first</mat-error>
      <mat-error *ngIf="master?.isValid=='N' && isHidden">This sample has been marked INVALID at the receiving</mat-error>
    </div>
    <div *ngIf="!isHidden" width="100%">
      <table class="single">
        <tr>
          <td class="tag">AU No.</td>
          <td>: {{master.ulid}}</td>
          <td class="tag">Sample Id</td>
          <td>: {{this.sampleId}}</td>
        </tr>
        <tr>
          <td class="tag">Name</td>
          <td>: {{master.patientDemographicDetail.name}}</td>
          <td class="tag">Age/Sex</td>
          <td>: {{master.patientDemographicDetail.age}}/{{master.patientDemographicDetail.sex}}</td>
        </tr>
        <tr>
          <td class="tag">Dr. Name</td>
          <td>: {{master.drName}}</td>
          <td class="tag">Hospital Name</td>
          <td>: {{master.patientDemographicDetail.hospitalName}}</td>
        </tr>
        <tr>
          <td  class="tag">Sample Type</td>
          <td>: {{master.sampleType=="S" ? "SERUM":"CSF"}}</td>
        </tr>
        <tr>
          <td  class="tag">Tests Raised</td>
          <td >:</td>
        </tr>
        <tr>
            <td  class="checkbox" *ngFor=" let rTest of raisedTests.slice(0,4)">
              <mat-checkbox class="checkbox" [disabled]="rTest.status=='REPORTED'|| isListCreated" [(ngModel)]="rTest.checked" (change)="changeTestStatus(rTest)">{{rTest.name}}</mat-checkbox>
            </td>
        </tr>
        <tr>
          <td  class="checkbox" *ngFor=" let rTest of raisedTests.slice(4,8)">
            <mat-checkbox class="checkbox" [disabled]="rTest.status=='REPORTED'|| isListCreated" [(ngModel)]="rTest.checked" (change)="changeTestStatus(rTest)">{{rTest.name}}</mat-checkbox>
          </td>
        </tr>
      </table>
      <br>
      <table class="single">
        <tr>
          <td>
            <mat-form-field appearance="outline" class="single">
              <mat-label>Remark</mat-label>
              <mat-select required #remark="ngModel"  [disabled]="noOfInvalidTests==0|| isListCreated" [(ngModel)]="master.remark" type="text">
                <mat-option *ngFor="let remarkElement of remarkList" [value]="remarkElement">{{remarkElement}}</mat-option>
              </mat-select>
              <mat-error *ngIf="remark.errors &&(remark.valid || remark.touched)">Select a reason</mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field  class="single" appearance="outline">
              <mat-label>Explain others</mat-label>
              <input matInput [disabled]="master.remark!='Others'||isListCreated" required #other="ngModel" [(ngModel)]="otherRemark" [class.is-invalid]="other.invalid && other.touched" placeholder="Explain Others" type="text" >
              <mat-error *ngIf="other.errors &&(other.valid || other.touched)">Explain Others</mat-error>
            </mat-form-field>
          </td>
        </tr>
      </table>
      <table class="single">
        <tr align="center">
          <button #submitButton [disabled]="!((master.remark!='Others' && master.remark!=null) || (master.remark=='Others'&& otherRemark!=null))" mat-raised-button color="primary" type="submit" (click)="createVials();submitButton.disabled=true; ">Submit</button>
        </tr>
<!--        <tr align="center">-->
<!--          <button *ngIf="master.status=='PROCESSING'" [disabled]="!((master.remark!='Others' && master.remark!=null) || (master.remark=='Others'&& otherRemark!=null))" mat-raised-button color="primary" type="submit" (click)="updateVials()">Update Vials</button>-->
<!--        </tr>-->
      </table>

      <table mat-table matTableExporter #exporter="matTableExporter" name="exporter" *ngIf="dataSource!=null" [dataSource]="dataSource" class="single" >

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)= "row.print= row.print!=true; $event ? selection.toggle(row) : null"
                          (change)="row.print= row.print!=true;$event ? selection.toggle(row) : null"
                          [checked]="row.print"
                          [disabled]="row.status=='REPORTED'"
                          [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="VLID">
          <th mat-header-cell *matHeaderCellDef> VLID </th>
          <td mat-cell *matCellDef="let element"> {{master.ulid+":"+ element.code}} </td>
        </ng-container>

        <ng-container matColumnDef="Test Name">
          <th mat-header-cell *matHeaderCellDef> Test Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef=" ">
          <th mat-header-cell *matHeaderCellDef >  </th>
          <td mat-cell *matCellDef="let element" class="status"> {{ element.status=='SEPARATED'?'REPRINT':(element.status=='REPORTED'?'REPORTED': ' ')}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row [hidden]="row.checked==false" *matRowDef="let row; columns: displayedColumns;" (click)=toggle(row)>

        </tr>
      </table>
      <br>
      <table class="single" *ngIf="dataSource!=null">
        <tr>
          <td align="center">
            <button mat-raised-button color="primary" type="submit" (click)="export(exporter)" >Print</button>
          </td>
          <td align="center">
            <button mat-raised-button color="primary" type="submit" (click)="next();separateSampleButton.disabled=false">Next</button>
          </td>
        </tr>
      </table>

    </div>
    <br>
    <mat-divider></mat-divider>
    <br>
  </mat-card-content>
<!--  {{raisedTests|json}}<br>-->
<!--  {{noOfInvalidTests}}<br>-->
<!--  {{master|json}}-->
</mat-card>




