mat-card{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.single{
  width: 100%;
}

.half{
  width: 50%;
}
.group-bg-color{
    background-color: lightsteelblue;
}
.solidified{

    border-bottom: 2px solid red;
}
