<br>
<mat-card >
  <mat-card-header>
    <mat-card-title>TEST : {{testCategory}}</mat-card-title>
    <mat-card-subtitle>Generate List</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <br>
  <mat-card-content>
    <div align="center">
      <mat-form-field appearance="outline" floatLabel="always" class="half" >
        <mat-label>VLID</mat-label>
        <!-- <input matInput > -->
        <input matInput [(ngModel)]="inputVLID" placeholder="Enter Vial Id" type="text" >
      </mat-form-field>
      <br>
      <button mat-raised-button color="primary" (click)="addVial()" >ADD VIAL</button>
    </div>
      <br>
    <br>
    <mat-divider></mat-divider>
    <br>
    <div align="right">

      <button mat-raised-button color="primary" style="margin-left: 10px;" (click)="solidify()">Confirm</button>
      <button mat-raised-button color="primary" style="margin-left: 10px;" (click)="unsolidify()">Modify</button>
      <button mat-raised-button color="primary" style="margin-left: 10px;" (click)="export(exporter)" >Print</button>
    </div>
    <br>
    <mat-tab-group mat-stretch-tabs backgroundColor="primary" [(selectedIndex)]="selectedIndex" (selectedTabChange)="tabChanged($event)" dynamicHeight color="primary" class="mat-elevation-z4">
      <div *ngFor="let test of testList">
        <mat-tab label="{{test.name}}">
          <ng-template matTabContent>
          </ng-template>
        </mat-tab>
      </div>
    </mat-tab-group>
    <div class="mat-elevation-z8">
      <table mat-table  matTableExporter #exporter="matTableExporter" [dataSource]="dataSource" width="100%">

        <ng-container  matColumnDef="chipNo">
          <th mat-header-cell *matHeaderCellDef >Chip No</th>
          <td mat-cell
            [class.solidified]="vial.serialNo == this.testList[this.selectedIndex]['lockedCounter']"
            *matCellDef="let vial;let i=index">
              {{generateChipNo((1+(this.paginator.pageIndex == 0 ?  i : i + this.paginator.pageIndex * this.paginator.pageSize)),testList[selectedIndex]["groupSize"])}}
          </td>
        </ng-container>
        <ng-container  matColumnDef="serialNo">
          <th mat-header-cell *matHeaderCellDef >Serial No</th>
          <td mat-cell
            [class.solidified]="vial.serialNo == this.testList[this.selectedIndex]['lockedCounter']"
            *matCellDef="let vial;let i=index">{{vial.serialNo}}</td>
        </ng-container>
        <ng-container  matColumnDef="vlid">
          <th mat-header-cell *matHeaderCellDef >VLID</th>
          <td mat-cell
            [class.solidified]="vial.serialNo == this.testList[this.selectedIndex]['lockedCounter']"
            *matCellDef="let vial">{{vial.vlid}}</td>
        </ng-container>
        <ng-container  matColumnDef="master.patientDemographicDetail.name">
          <th mat-header-cell *matHeaderCellDef >NAME</th>
          <td mat-cell
            [class.solidified]="vial.serialNo == this.testList[this.selectedIndex]['lockedCounter']"
            *matCellDef="let vial">{{vial.master.patientDemographicDetail.name}}</td>
        </ng-container>
        <ng-container  matColumnDef="master.patientDemographicDetail.age">
          <th mat-header-cell *matHeaderCellDef >AGE</th>
          <td mat-cell
            [class.solidified]="vial.serialNo == this.testList[this.selectedIndex]['lockedCounter']"
            *matCellDef="let vial">{{vial.master.patientDemographicDetail.age}}</td>
        </ng-container>
        <ng-container  matColumnDef="master.patientDemographicDetail.sex">
          <th mat-header-cell *matHeaderCellDef >SEX</th>
          <td mat-cell
            [class.solidified]="vial.serialNo == this.testList[this.selectedIndex]['lockedCounter']"
            *matCellDef="let vial">{{vial.master.patientDemographicDetail.sex}}</td>
        </ng-container>
        <ng-container  matColumnDef="drName">
          <th mat-header-cell *matHeaderCellDef >Dr.Name/Hospital</th>
          <td mat-cell
            [class.solidified]="vial.serialNo == this.testList[this.selectedIndex]['lockedCounter']"
            *matCellDef="let vial">
              <div>{{vial.master.drName}}/</div>
              <div>{{vial.master.patientDemographicDetail.hospitalName}}</div>
          </td>
        </ng-container>
        <ng-container  matColumnDef="result">
          <th mat-header-cell *matHeaderCellDef >RESULT</th>
          <td mat-cell
            [class.solidified]="vial.serialNo == this.testList[this.selectedIndex]['lockedCounter']"
            *matCellDef="let vial"></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay;sticky:true"></tr>
        <tr mat-row *matRowDef="let vial; columns: columnsToDisplay;let i =index;"
            [class.group-bg-color]="generateChipNo((1+(this.paginator.pageIndex == 0 ?  i : i + this.paginator.pageIndex * this.paginator.pageSize)),testList[selectedIndex]['groupSize'])%2 == 0" ></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
