<table class="single">
  <tr>
    <td class="tag">Serial No</td><td>: {{vial.serialNo==null?'-': vial.serialNo}}</td>
    <td class="tag">Creation Date</td><td>: {{vial.creationDate==null?'-': vial.creationDate}}</td>
  </tr>
  <tr>
    <td class="tag">Testing Date</td><td>: {{vial.testingDate==null?'-': vial.testingDate}}</td>
    <td class="tag">Reporting Date</td><td>: {{vial.reportingDate==null?'-': vial.reportingDate}}</td>
  </tr>
  <tr>
    <td class="tag">Result</td><td>: {{vial.result==null?'-': vial.result}}</td>
    <td class="tag">Additional Remark</td><td>: {{vial.remark==null?'-': vial.remark}}</td>
  </tr>
</table>
